

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;

    /* a supp */
    height: 3000px;
}
.scrollbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: blueviolet;
}
.scrollbar__progress{
    height: 100%;
    background-color: crimson;
    width: var(--scrollbar-width, 0%);
}