body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;

    /* delete */
    height: 3000px;
}

body.no-scroll{
    overflow: hidden;
}

@media (max-width: 600px){

    .menu__toggle{
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer; /* ne pas oublier*/
        z-index: 20;

    }
    .menu__list{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: darkgrey;
        margin: 0;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;

    }
    .menu--open .menu__list{
        display: block;
        transform: translateX(0);
    }

}