html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;


    /* a supp */
    height: 3000px;
}

.backtotop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}
.backtotop--show{
    display: inline;
}