body{
    font-family: sans-serif;
    margin: 20px;
    line-height: 1.5;
    font-size: 18px;
    box-sizing: border-box;
}
h1{
    margin: 50px;
}
li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
*{
    box-sizing: inherit;
}
.tab__el{
    background-color: chocolate;
    padding: 5px;
    margin: 0 30px 0 0;
}
.tab__wrapper{
    display: flex;
    width: 50%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.tab__content{
    /*display: none;*/
    background-color: chocolate;
    padding: 5%;
    width: 100%;
    flex-shrink: 0;
}
.tab__menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab__el--active a{
    display: flex;
    background-color: crimson;
}
.tab__content--active{
    display: block;
}